<!DOCTYPE html>
<html lang="en">
  <head>
    <script>var _gaq = _gaq || []; _gaq.push(['_setDomainName', location.hostname]);</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1">
    <title>
      <%_ if (locals.title) { %><%= locals.title + ' - ' %><% } _%>
      Félix “passcod” Saparelli - Blog
    </title>
    <link rel="alternate" href="/feed">
    <link rel="stylesheet" href="/fonts.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/prism.css">
    <script async src="/prism.js"></script>
  </head>
  <body>
    <div class="raised">
      <header class="root">
        <h1><a href="/">Félix Saparelli</a></h1>
        <p class="sidelong"><a rel="me" href="https://passcod.name">(about me)</a></p>
        <p class="subtitle">a.k.a. passcod</p>
      </header>
      <main>
        <%- include(partial, locals) %>
      </main>
    </div>
    <footer class="root">
      <p>
        <a rel="alternate" href="/feed">Feed</a>.
        © 2008–<%= new Date().getUTCFullYear() %>.
        Content licensed under <a rel="license" href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.
      </p>
    </footer>

    <button class="flip" title="Turn the lights off.">day</button>
    <script>
      var flip = document.querySelector('.flip'),
        html = document.querySelector('html'),
        flipper = function(night) {
          if (/flipped/.test(html.className) || !night) {
            html.className = html.className.replace('flipped', '');
            flip.innerHTML = 'day';
            flip.title = flip.title.replace('on', 'off');
            localStorage.setItem('flip', '');
          } else {
            html.className += ' flipped';
            flip.innerHTML = 'night';
            flip.title = flip.title.replace('off', 'on');
            localStorage.setItem('flip', '✓');
          }
        };
      flip.addEventListener('click', flipper, null);
      flipper(localStorage.getItem('flip'));
      setTimeout(function() {
        html.className += ' js';
      }, 1000);
    </script>
  </body>
</html>
