- var subs = current.path.slice(0, -1)
mixin yieldp
  if subs.length
    != partial(subs.shift() + '/_sublayout', {yieldp_mixin: yieldp_mixin})
  else
    != yield

!!!
html
  head
    link(rel="stylesheet", href="/main.css")
  body
    header
      h1= the.title
      p= the.tagline
    - var subs = current.path.slice(0,-1)
    each sub in subs
      != partial
    +yieldp
    footer
      p= the.footer
